* text=auto

*.cs text eol=crlf
*.shader text eol=lf
*.cginc text eol=lf
*.hlsl text eol=lf
*.compute text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.controller text eol=lf
*.anim text eol=lf
*.overrideController text eol=lf
*.physicMaterial text eol=lf
*.physicsMaterial2D text eol=lf
*.playable text eol=lf
*.mask text eol=lf
*.asmdef text eol=lf
*.inputactions text eol=lf
*.scenetemplate text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.tga binary
*.tif binary
*.tiff binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
